{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section" style="margin-top: 10%;">
	<form method="post">
		{% csrf_token %}
		{{ form |crispy }}
		<h2>Delete Your Post Here : </h2>
		<div class="form-group">
     	Are Your Sure to Delete &nbsp;: &nbsp;{{ object }} &nbsp;&nbsp;&nbsp;<button class="btn btn-danger" type="submit">Delete</button>
     	<a href="{% url 'post-list' %}" class="btn btn-outline-info" type="submit">Cancel</a>

    	</div>
	</form>
</div>

{% endblock %}